<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SftpHost" value="192.168.29.208" />
		<add key="SftpPort" value="2222" />
		<add key="SftpUsername" value="tester" />
		<add key="SftpPassword" value="password" />
		<add key="UploadFile" value="\public" />
		<add key="DownloadFile" value="D:\Filetesting" />
	</appSettings>
</configuration>